/* =========== layout ===========*/

body {
	height: 92vh;
	font: 300 2em "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
	height: 100%;
}

.nav-offset {
	height: 8vh;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* ============ grid ============*/

.row {
  display: flex;
}

.spread {
	justify-content: space-between;
}

.column {
  flex: 1;
}

/* ============ nav =============*/

nav {
	width: 100%;
	height: 8vh;
	position: fixed;
	border-bottom: 1px solid black;
	background-color: rgba(255,255,255,1);
}

nav > .logo {
	font-size: 7vh;
}

/* =========== index ============*/

.flex-center {
	justify-content: center;
	align-items: center;
	height: 100%;
	transform: translateY(-7%);
}

.search-module {
	width: 40%;
}

#link {
	width: 100%;
	font-size: 100%;
}

#link:focus {
	outline: #4099FF solid 0.5px;
}

.parent {
	position: relative;
}

.copy {
  height: 4vh;
}

.copy:hover {
  height: 4vh;
}

#permalink {
	position: relative;
	overflow: hidden;
	width: 101.5%;
}

#permalink div {
	vertical-align: middle
}

#permalink input {
	font-size: 100%;
	width: 90%;
}

#permalink button {
	width: 10%;
	cursor: pointer;
	display: block;
	padding: 1px 0;
	border: none;
	background-color: #FFF;
}

#permalink button:focus {
	outline: #d3d3d3 solid 0.5px;
}

/* ========= animation ===========*/

.slide {
	position: absolute;
	left: -100px;
	width: 100px;
	height: 100px;
	-webkit-animation: slide 0.5s forwards;
	animation: slide 0.5s forwards;
}