{% extends 'layout.html' %}
{% block content %}
  <div class="row links-presentation">
    <h1>Hey, you're welcome for the links!</h1>
  </div>
  <div class="row content-info">
    <div class="row column content-names">
      <div class="column content-art">
        image placeholder
      </div>
      <div class="row column names">
        <div class="name-group">
          <p>Artist:</p>
          <p class="name">{{ artist.name }}</p>
        </div>
        {% if album %}
        <div class="name-group">
          <p>Album:</p>
          <p class="name">{{ album.name }}</p>
        </div>
        {% endif %}
        {% if song %}
        <div class="name-group">
          <p>Song:</p>
          <p class="name">{{ song.name }}</p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row column links">
      <div class="link">
        <div class="service-logo apple"></div>
        <input type="text" value="{{ apple }}">
      </div>
      <div class="link">
        <div class="service-logo spotify"></div>
        <input type="text" value="{{ spotify }}">
      </div>
    </div>
  </div>
{% endblock %}