.flex-center {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.introduction {
	text-align: center;
	max-width: 67%;
}

.introduction * {
	margin: 5px;
}

.introduction h2 {
	max-width: 66%;
	margin: 10px auto;
}

.search-module {
	width: 40%;
	font-size: 2em;
	transform: translateY(-175%);
}

#link {
	width: 100%;
	font-size: 100%;
}

#link:focus {
	outline: #4099FF solid 0.5px;
}

.parent {
	position: relative;
}

.copy {
  height: 4vh;
}

#permalink {
	position: relative;
	overflow: hidden;
	width: 101.5%;
}

#permalink div {
	vertical-align: middle;
}

#permalink input {
	border: none;
	font-size: 100%;
	width: 90%;
	background-color: #f9f8f8;
}

#permalink button {
	visibility: hidden;
}

#permalink:hover button {
	visibility: visible;
}

#permalink button:focus {
	outline: #d3d3d3 solid 0.5px;
}

/* ========= animation ===========*/

.slide {
	position: absolute;
	left: -100px;
	width: 100px;
	height: 100px;
	-webkit-animation: slide 0.5s forwards;
	animation: slide 0.5s forwards;
}

/* ======== media query ==========*/

@media (min-width: 600px) and (orientation: portrait){
  .copy {
    height: 2vh;
  }
}