/* ==============================
						viewport
===============================*/

.links-presentation {
	height: 46vh;
}

/* ==============================
					content box
===============================*/

.content-info {
	height: 46vh;
	border-top: 1px solid black;
}

.content-names {
	border-right: 1px solid black;
}

.content-art {
	border-right: 1px solid black;
}

.names {
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 0.8em;
}

.name-group {
	text-align: center;
}

.name {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 2px;
}

/* ==============================
						links box
===============================*/

.links {
	justify-content: space-around;
	flex-direction: column;
}

.link {
	display: flex;
	align-items: center;
}

.link input {
	font-size: 1.25em;
	border: none;
	background-color: inherit;
	width: 85%;
	outline-width: medium;
}

.link p {
	font-size: 1.25em;
	font-weight: normal;
}

.link > .apple {
	background: url("client/assets/apple-logo.png");
	background-size: cover;
}

.link > .spotify {
	background: url("client/assets/spotify-logo.png");
	background-size: cover;
}

.service-logo {
	margin: 0 1vw;
	display: inline-block;
	height: 4.5vh;
	width: 4.5vh;
}

/* ==============================
					link tooltip
===============================*/

.link > a {
	position: relative;
}

.link > button {
	position: relative;
}

[tooltip]:before {
	content: attr(tooltip);
	position: absolute;
	opacity: 0;
	background: black;
	background: linear-gradient(to top right, black, #313538);
	text-align: center;
	border-radius: 5px;
	width: 450px;
	top: -60px;
	left: 0px;
	padding: 5px;
	color: #dfe3e6;
	pointer-events: none;
}

[tooltip]:hover:before {
	opacity: 1;
}
