/* =========== layout ===========*/

body {
	height: 92vh;
	font-family: Lato, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #f9f8f8;
	--txt-box-background: rgba(249,248,248, 0.5);
	--txt-box-color: #1a1a1a;
	--border-color: #454545;
}

main {
	height: 100%;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 150%;
}

a:hover {
	text-decoration: underline;
}

.nav-offset {
	height: 8vh;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* ============ grid ============*/

.row {
  display: flex;
}

.column {
  flex: 1;
}

.spread {
	justify-content: space-between;
}

.vert-center {
	align-items: center;
}

/* ======== animations ========*/

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes pulse {
  from { box-shadow:0px 0px 0px 0px #454545; }
  to 	 { box-shadow:0px 0px 1.5px 0.5px #1a1a1a; }
}

.fade-in {
	visibility: visible !important;
	animation: fadein 1.25s;
}

/* ===== trans-view assets =====*/

.copy-clipboard {
	display: inline-block;
	background-image: url("client/assets/copy.png");
	background-size: cover;
	height: 4vh;
	width: 4vh;
	outline-width: medium;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0 1vw;
}

/* ============ nav =============*/

nav {
	width: 100%;
	height: 8vh;
	position: fixed;
	border-bottom: 1px solid black;
	background-color: rgba(255,255,255,1);
}

nav .logo {
	display: inline-block;
	font-size: 7vh;
}

.service-selection {
	float: right;
	font-size: 3vh;
}

.service-selection select {
	background-color: rgba(255,255,255,0);
	border: none;
	font-weight: 200;
	font-size: 3vh;
}

select::-ms-expand { 
	display: none;
}